body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('./images/20250218_214259.jpg');
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center top;
    padding: 2.5%;

}

h1{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 36px;
    color:darkblue;
    margin-bottom: 30%;

}

p{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
    color: white;
}


.button{
    background-color:black;
    text-align: center;
    font-size: 35px;
    float: right;
    margin: 0.05px;
}

.button:hover {
    background-color: gray;
}

